<?xml version="1.0" encoding="utf-8"?>
<module productName="Creuna.AzureAD">
  <assemblies>
    <!--<add assembly="Creuna.AzureAD" />-->
    <add assembly="Creuna.AzureAD" />
  </assemblies>
  <clientResources>
    <!--<add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>-->
  </clientResources>
  <dojo>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <paths>
      <add name="creunaAzureAD" path="ClientResources/Scripts" />
    </paths>
  </dojo>
</module>